
/* Inter font class */
.inter-font {
  font-family: "Inter", sans-serif;
}

/* Raleway font class */
.raleway-font {
  font-family: "Raleway", sans-serif;
}

/* shared style */

.primary-color{
    color: #4E47FF;
}
.btn-primary{
    background-color: #4E47FF;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    padding: 12px 36px;
    border: none;
    border-radius: 10px;
}

.btn-container{
    text-align: center;
    justify-content:center;
    margin-top: 37px;
}

/* header */

.header{
    background-image: url('../Assets/Hero-bg.png');
    background-size: contain;
    background-position: center;
   
}

/* Nav Styles */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 150px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
}

/* Banner Styles */

.banner-content{
    text-align: center;
    padding-top: 160px;
    padding-bottom: 200px;
}

.banner-greetings{
    font-size: 65px;
    font-weight: bold;
    color: #252432;
    text-align: center;
    margin: 80px 267.5px 0px 267.5px;
}